<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Spring Security Example </title>
        
                <!-- 导入CSS文件 -->
    <link rel="stylesheet" href="/css/login.css">
    </head>
    <body>
        <form th:action="@{/login}" method="post" th:object="${personForm}">
            <div><label> UserId : <input type="text" name="userId"/> </label></div>
            <div><label> Password: <input type="password" name="pwd"/> </label></div>
            <div><input type="submit" value="Sign In"/></div>
            <div th:if="${error}" style="color: red;">
                <p th:text="${error}"></p> <!-- 错误信息 -->
            </div>
        </form>
        
    </body>
</html>