<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
		<h1>成功!</h1>
		你好:<span th:text="${user.name}"></span>

         <form action="#" th:action="@{/updateUser}" th:object="${myForm}" method="post">
            <table>
				
				<!--<tr>
				    <td>UserId:</td>
					<td><span th:text="${user.name}"><br></td>
				</tr>
              <tr>
                    <td>Name:</td>
                    <td><input type="text" th:field="*{user.name}" /></td>
                </tr>
                <tr>
                    <td>Age:</td>
                    <td><input type="text" th:field="*{user.age}" /></td>

                </tr>--> 
                <tr>
                    <td><button type="submit">確認</button></td>
                </tr>
            </table>
        </form>


    </body>
</html>