<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <form action="#" th:action="@{/signIn}" th:object="${personForm}" method="post">
            <table>
                <tr>
                    <td>UserId:</td>
                    <td><input type="text" th:field="*{userId}" /></td>
                    <td th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}">UserId Error</td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="text" th:field="*{pwd}" /></td>
                    <td th:if="${#fields.hasErrors('pwd')}" th:errors="*{pwd}">password Error</td>
                </tr>
                <tr>
                    <td><button type="submit">Submit</button></td>
                </tr>
            </table>
        </form>
		<label th:if="${isExisted}" for="Existed">The username has already existed.</label>
    </body>
</html>