<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>weather</title>
</head>
<body>
<!-- <label for="weather">今日の天気を選択してください: </label>
<select id="weather">
  <option value="">--選択してください--</option>
  <option value="sunny">晴れ</option>
  <option value="rainy">雨</option>
  <option value="snowing">雪</option>
  <option value="overcast">曇り</option>
</select> -->
<label for="weather-dropdown">天気：</label>
<select id="searchable-dropdown">
  <option value="">加载中...</option>
</select>
 <p id="weather-message"></p>
 <!-- アロー関数-->
 <input id="textBox" type="text" />
<div id="output"></div>
<!--多选框-->
<form id="myForm">
  <input type="checkbox" name="interests" value="sports"> Sports
  <input type="checkbox" name="interests" value="music"> Music
  <input type="checkbox" name="interests" value="reading"> Reading
  <button type="button" onclick="submitForm()">Submit</button>
</form>

<!--多选框使用AJAX发送数据到服务器-->
<form id="myForm01">
  <input type="checkbox" name="interests" value="sports"> Sports
  <input type="checkbox" name="interests" value="music"> Music
  <input type="checkbox" name="interests" value="reading"> Reading
  <button type="button" onclick="submitForm01()">Submit01</button>
</form>
</body>
<script src="/js/weather.js" defer></script> <!-- 引入外部 JS 文件 -->

</html>